.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.profile-img{
    margin-top: 50px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
  }

.hero h1{
    text-align: center;
    width: 70%;
    margin-bottom: -30px;
    font-size: 50px;
    font-weight: 600;
}

.hero h2{
    padding-left: 150px;
    font-size: 50px;
    font-weight: 600;
}

.hero h1 span{
    margin-left: -150px;
    background: linear-gradient(90deg, #E6C547  0%, #D47F2F 50%, #B23A27 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p{
    margin-top: -20px;
    margin-bottom: -10px;
    width: 50%;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-content{
    padding: 15px 20px;
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
}

.hero-resume{
    padding: 15px 20px;
    border-radius: 50px;
    background: linear-gradient(90deg, #E6C547  0%, #D47F2F 50%, #B23A27 100%);
    cursor: pointer;
}

.hero-resume a{
    color: white;
    text-decoration: none;
}

.hero-content:hover{
    border: 2px solid #B23A27;
}

.hero-resume:hover{
    border: 2px solid white;
}

@media(max-width:768px){
    .hero p{
        font-size: 18px;
        min-width: 500px;
    }
    .hero img{
        margin-bottom: -10px;
        width: 220px;
        height: 220px;
    }
    .hero h2{
        font-size: 40px;
        padding-top: 10px;
    }
    .hero h1{
        font-size: 45px;
    }
    .hero-action{
        font-size: 16px;
    }
}